<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Academics</title>
  <!-- Required meta tags -->
  <!-- Font styles -->
  <!-- Roboto Slab -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet" />

  <!-- Avro -->
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet" />

  <!-- Noto Serif -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet" />
  <link rel="icon" type="img/png" sizes="55x55" href="{% static 'iiitdsite/images/iiit-logo-small.png' %}" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet" />

  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Playfair+Display:wght@600&display=swap"
    rel="stylesheet" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/academics.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/favicon_nav.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/top_nav-scroll.css' %}" />
</head>

<body>
  <!-- Top Nav -->
  <nav class="navbar navbar-expand-sm bg-dark justify-content-center" id="backtonav" style="position: fixed;left: 0;top:0;width: 100%; z-index: 100;">
    <ul class="navbar-nav">
      <div class="container">
        <div class="row">
          <section class="comsearch" style="margin-left: -3%">
            <a href="#"><span style="font-size: 17px; color: #ffffff">PMRF&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">ARIIA&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">RTI&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">IIIT PPP Act&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">AIMS&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">Webmail&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">ICC</span></a>
          </section>

          <section class="information-wrapper" id="navScrollBlock" style="margin-top: 21px">
            <div class="information d-none d-xl-block">
              <div>
                <span><a href="{% url 'home' %}" style="color:rgb(255, 205, 131)">English
                  </a></span>
              </div>
              <div>
                <span><a href="{% url 'kannada' %}" style="color:rgb(255, 205, 131)">ಕೆನಡಾ
                  </a></span>
              </div>
              <div>
                <span><a href="{% url 'hindi' %}" style="color:rgb(255, 205, 131)">हिन्दी
                  </a></span>
              </div>
            </div>
          </section>

          <div>
            <div class="search" style="margin-left: -4%; margin-top: 10px">
              <script async src="https://cse.google.com/cse.js?cx=483075f18c137fb12"></script>
              <div class="gcse-search"></div>
            </div>
          </div>
        </div>
        </section>
      </div>
      </div>
      </div>
    </ul>
  </nav>
  <!-- End Top Nav -->

  <!-- Start Header Area -->
  {% include 'iiitdsite/nav_bar(kannada).html' %}
    <script>
      var a = document.querySelector('.desktop-menu').querySelectorAll('li');
      a[2].className='active';
    </script>
  <!-- end Header Area -->

  <!-- off-canvas menu start -->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="btn-close-off-canvas">
        <i class="fa fa-times"></i>
      </div>

      <div class="off-canvas-inner">
        <!-- search box start -->
        <div class="search-mobile">
          <script async src="https://cse.google.com/cse.js?cx=483075f18c137fb12"></script>
          <div class="gcse-search"></div>
        </div>
        <!-- search box end -->

        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav>
            <ul class="mobile-menu" style="padding-bottom: 0px; margin-bottom: 0px;">
              <li><a href="{% url 'kannada' %}">Home</a></li>
              <li><a href="{% url 'about-kannada' %}">About</a></li>
              <li class="menu-item-has-children">
                <a href="{% url 'academics-kannada' %}">Academics</a>
                <ul class="dropdown">
                  <li><a href="#">Courses</a></li>
                  <li><a href="{% url 'faculty-kannada' %}">Faculty</a></li>
                  <li><a href="{% url 'research-kannada' %}">Research</a></li>
                  <li class="menu-item-has-children"><a href="">Curriculum</a>
                    <ul class="dropdown">
                      <li><a href="{{currilink.cse_link}}">CSE</a></li>
                      <li><a href={{currilink.cse_link}}>ECE</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="{% url 'admissions-kannada' %}">Admissions</a>
                <ul class="dropdown">
                  <li><a href="{% url 'ug-kannada' %}">Undergraduate</a></li>
                  <li><a href="{% url 'phd-kannada' %}">Ph.D</a></li>
                  <li><a href="#">Finance+Aid</a></li>
                </ul>
              </li>
              <li><a href="{% url 'events-kannada' %}">Events</a></li>
<li><a href="{% url 'campus-kannada' %}">Campus</a></li>
              <li><a href="{% url 'gallery-kannada' %}">Gallery</a></li>
              <li><a href="{% url 'newstack-kannada' %}">News</a></li>
              <li><a href="{% url 'contact-kannada' %}">Contact us</a></li>
              <li><a href="{% url 'jobs-kannada' %}">Jobs</a></li>
              <li><a href="{% url 'placements' %}">Placements</a></li>
<!-- <li><a href="./aims.html">AIMS</a></li> -->
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->
        <br>
        <br>
        <br>
        <br>
        <!-- offcanvas widget area start -->
        <div class="offcanvas-widget-area">
          <div class="off-canvas-contact-widget">
            <ul>
              <li>
                <i class="fa fa-mobile"></i>
                <a href="#">0123456789</a>
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>
                <a href="#">info@yourdomain.com</a>
              </li>
            </ul>
          </div>
          <div class="off-canvas-social-widget">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
        <!-- offcanvas widget area end -->
      </div>
    </div>
  </aside>
  <!-- off-canvas menu end -->
  
  <!-- Academics Home Page -->

  <div id='container' style="margin-left: 30px;margin-right: 50px;">
    <div class="row align-items-start">

      <div class="col-2 sidebar">
        <button type="button" id = '1' onclick=Myfunction1(this.id) class="btn btn-dark btn-lg" >CSE</button>
        <button type="button" id = '0' onclick=Myfunction1(this.id) class="btn btn-dark btn-lg" >DSAI</button>
        <button type="button" id = '2' onclick=Myfunction1(this.id) class="btn btn-dark btn-lg" >ECE</button>
        <button type="button" id = '3' onclick=Myfunction1(this.id) class="btn btn-dark btn-lg" >Phds</button>
        <button type="button" id = '4' onclick=Myfunction1(this.id) class="btn btn-dark btn-lg" >Research</button>
        <!-- <button type="button" id = 'curriculum' onclick=Myfunction2() class="btn btn-dark btn-lg" style="display: block;margin:10px;width:200px;text-align: center;">Curriculum</button> -->
        <button type="button" class="btn btn-dark btn-lg" >Academic Calender</button>
        <button type="button" class="btn btn-dark btn-lg" >Faculty Info</button>
      


      </div>

      <style>
        @media(max-width:980px){
          .sidebar{
            display: none;
          }
          .right-column{
            width: auto;
            margin-left: 0px;
            margin-right: 30px;
            padding-right: 10px;
            padding-left: 0;
          }
        }
        .right-column{
          font-size: 4vw;
        }
        .trigger{
          font-size:20px;
          border:2px solid black;
          border-radius: 50%;
          width:40px;height: 40px;

        }
        .sidebar{
          position:sticky;
          top: 200px;
          max-height: calc(100vh - 50px);
        }

        .sidebar button{
          display: block;
          padding: 15px;
          margin:10px;
          margin-bottom: 20px;
          width:200px;
          text-align: center;
          background-color: #353A3F;
          opacity: 90%;
        }
        #academics{
          width:95vw;
          height: 200px;
          color:white;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url("{% static 'iiitdsite/images/student.jpeg' %}");
          background-size: cover;
          background-repeat: no-repeat;
        }
        @media(min-width:900px){
          #container{
            margin-top: 210px;
          }
          #academics{
            width: 80vw;
            height: 400px;
          }
          .right-column{
            font-size:2vw;
          }
        }
        @media(max-width:500px){
          .right-column h4{
            font-size: 30px;
            width: 300px;
          }
        }
      </style>

      <div class="right-column col-lg-10 col-xs">
          <div id="academics">
            <h1 style="font-size: 8vh; font-family: Georgia, 'Times New Roman', Times, serif;">Academics</h1>
          </div>
        </br>
          <h1><b>Undergraduate(B.tech Programmes)</b></h1>
        
          </br>
          <div>
            <div style="display:flex;justify-content: space-between;">
              <h4>DATA SCIENCE AND ARTIFICIAL INTELLIGENCE</h4>
              <button id ='0' onclick='Myfunction(this.id)' class="trigger">V</button>
              
            </div>

            <div  class="content" style="display:none">
              <img src="{% static 'iiitdsite/images/Campus.jpg' %}" class="img-fluid rounded" />
            </div>

          </div>

        </br>
        <div>
          <div style="display:flex;justify-content: space-between;">
            <h4>COMPUTER SCIENCE AND ENGINEERING</h4>
            <button  id = '1' onclick='Myfunction(this.id)' class="trigger">V</button>
            
          </div>

          <div  class="content" style="display:none">
            <img src="{% static 'iiitdsite/images/Campus.jpg' %}" class="img-fluid rounded" />
          </div>

        </div>

        </br>
        <div>
          <div style="display:flex;justify-content: space-between;">
            <h4>ELECTRONICS AND COMMUNICATION ENGINEERING</h4>
            <button id = '2' onclick='Myfunction(this.id)' class="trigger">V</button>
            
          </div>
          <div  class="content" style="display:none">
            <img src="{% static 'iiitdsite/images/Campus.jpg' %}" class="img-fluid rounded" />
          </div>

        </div>
        </br>
        <div id="curriculum">
          <h1><u>Curriculum</u></h1>
          <br>
          <p>BTech curricula are designed in the Outcome Based Education framework with well-defined program objectives. Each BTech program has an ideal mix of foundational theory and core subjects (30%), Breadth in engineering, mathematics and sciences (25%), soft skills and humanities (10%), contemporary elective subjects in applied areas (25%) and project-based learning through a series of mini and major projects (10%). Most elective subjects are kept open for any student in any program to take the specialised courses of their choice. The eighth semester has no coursework to enable students to carry out the major project and also pursue a full-semester internship in the industry or in other reputed institutes.</p>
          <br>
          <p>IIIT Dharwad, being an Institute of National Importance, has full academic autonomy with its own Academic Senate with professors from other reputed institutes and industry members. The Institute follows a credit-based system for each student to make self-paced progress. Assessment is through a relative grading system with emphasis on continuous assessment and a grade-point system.
          </p><br>
          <p>The Institute has not hesitated to break out of outdated conventions and has introduced an IT-focused curriculum from the first semester (e.g., no chemistry) with elective subjects offered in areas such as data science, AI, machine learning, IoT, cloud computing and Blockchain to name a few. Ample opportunities are provided to learn these cutting-edge areas practically through mini and major projects and events like hackathons.</p>
          <br>
        </div>
        <br>
        <div>
          <div style="display:flex;justify-content: space-between;">
            <h1><b>PHDs</b></h1>
            <button id = '3' onclick='Myfunction(this.id)' class="trigger">V</button>
            
          </div>
       
          <div class="content" style="display:none">
            <img src="{% static 'iiitdsite/images/Campus.jpg' %}" class="img-fluid rounded" />
          </div>

        </div>
        <br>
        <div>
          <div style="display:flex;justify-content: space-between;">
            <h1><b>Research</b></h1>
            <button id = '4' onclick='Myfunction(this.id)' class="trigger">V</button>
            
          </div>
      
          <div class="content" style="display:none">
            <img src="{% static 'iiitdsite/images/Campus.jpg' %}" class="img-fluid rounded" />
          </div>

        </div>
      </div>
    </div>
  </div>
  <script>
    // document.querySelectorAll('.trigger').forEach(function(button){
    //   button.onclick = function(){
    //     var ID = 
    //     var a  = document.querySelector('.content').querySelector(`#${ID}`).style;
    //     if(a.display=='none'){
    //       a.display = 'block';
    //     }
    //     else{
    //       a.display = 'none';
    //     }
    //   }
    // });

    function Myfunction(id){
      var a = document.querySelectorAll('.content')[id].style;
      var b = document.querySelectorAll('.trigger')[id];
      if(a.display == 'none'){
        a.display = 'block';
        b.innerHTML = `^`;
      }
      else {
        a.display = 'none';
        b.innerHTML = `V`;
      }
      
    }
    function Myfunction1(id){
    var a = document.querySelectorAll('.content')[id];
    var b = document.querySelectorAll('.trigger')[id];
    b.innerHTML = `^`;
    a.style.display = 'block';
    a.scrollIntoView({
      block: 'end',
  behavior: 'smooth',
    });
    
      
    }

      
  </script>>
  <!--------------footer-------------->

  {% include 'iiitdsite/footer.html' %}
  <!-------------footer ends---------->
  <!-- Nav bar js -->
  <script>
    //smooth scroll js

    var scroll = new SmoothScroll('a[href*="#"]');
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 9000,
      speedAsDuration: true,
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script>
    (function ($) {
      "use strict";

      // Off Canvas Open close start
      $(".off-canvas-btn").on("click", function () {
        $("body").addClass("fix");
        $(".off-canvas-wrapper").addClass("open");
      });

      $(".btn-close-off-canvas,.off-canvas-overlay").on("click", function () {
        $("body").removeClass("fix");
        $(".off-canvas-wrapper").removeClass("open");
      });

      // slide effect dropdown
      function dropdownAnimation() {
        $(".dropdown").on("show.bs.dropdown", function (e) {
          $(this)
            .find(".dropdown-menu")
            .first()
            .stop(true, true)
            .slideDown(500);
        });

        $(".dropdown").on("hide.bs.dropdown", function (e) {
          $(this)
            .find(".dropdown-menu")
            .first()
            .stop(true, true)
            .slideUp(500);
        });
      }
      dropdownAnimation();

      //offcanvas mobile menu start
      var $offCanvasNav = $(".mobile-menu"),
        $offCanvasNavSubMenu = $offCanvasNav.find(".dropdown");

      /Add Toggle Button With Off Canvas Sub Menu/;
      $offCanvasNavSubMenu
        .parent()
        .prepend('<span class="menu-expand"><i></i></span>');

      /Close Off Canvas Sub Menu/;
      $offCanvasNavSubMenu.slideUp();

      /Category Sub Menu Toggle/;
      $offCanvasNav.on("click", "li a, li .menu-expand", function (e) {
        var $this = $(this);
        if (
          $this
            .parent()
            .attr("class")
            .match(
              /\b(menu-item-has-children|has-children|has-sub-menu)\b/
            ) &&
          ($this.attr("href") === "#" || $this.hasClass("menu-expand"))
        ) {
          e.preventDefault();
          if ($this.siblings("ul:visible").length) {
            $this.parent("li").removeClass("active");
            $this.siblings("ul").slideUp();
          } else {
            $this.parent("li").addClass("active");
            $this
              .closest("li")
              .siblings("li")
              .removeClass("active")
              .find("li")
              .removeClass("active");
            $this.closest("li").siblings("li").find("ul:visible").slideUp();
            $this.siblings("ul").slideDown();
          }
        }
      });

      // tooltip active js
      $('[data-toggle="tooltip"]').tooltip();
    })(jQuery);
  </script>
  <!--ion icon cdn-->
  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  <!-- Nav bar js end-->

  <!-- Search box in top nav -->
  <script>
    //search box js

    $(document).ready(function () {
      $(".search1").each(function () {
        var self = $(this);
        var div = self.children("div");
        var placeholder = div.children("input").attr("placeholder");
        var placeholderArr = placeholder.split(/ +/);
        if (placeholderArr.length) {
          var spans = $("<div />");
          $.each(placeholderArr, function (index, value) {
            spans.append($("<span />").html(value + "&nbsp;"));
          });
          div.append(spans);
        }
        self.click(function () {
          self.addClass("open");
          setTimeout(function () {
            self.find("input").focus();
          }, 750);
        });
        $(document).click(function (e) {
          if (!$(e.target).is(self) && !jQuery.contains(self[0], e.target)) {
            self.removeClass("open");
          }
        });
      });
    });
  </script>
</body>

</html>