<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<title>Faculty</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link
		  rel="icon"
		  type="img/png"
		  sizes="55x55"
		  href="{% static 'iiitdsite/images/iiit-logo-small.png' %}"
		/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<link rel="stylesheet" href="{% static 'iiitdsite/css/footer.css' %}">
		<link rel="stylesheet" href="{% static 'iiitdsite/css/favicon_nav.css' %}">
		<link rel="stylesheet" href="{% static 'iiitdsite/css/top_nav-scroll.css' %}">
		<link rel="stylesheet" href="{% static 'iiitdsite/css/faculty.css' %}" />
		<link
		  rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		  crossorigin="anonymous"
		/>
	  </head>
  <body>
    
   <!-- Start Header Area -->
   {% include 'iiitdsite/nav_bar.html' %}
   <script>
     var a = document.querySelector('.desktop-menu').querySelectorAll('li');
     a[29].className='active';
   </script>
    <!-- Start Header Area -->
    <br>
    <div class="container-fluid" style="margin-left:45px">
			<h1 class="text-center" style="font-size: 60px;margin-right: 5.5rem;text-decoration: underline;text-underline-offset: 6px;">Faculty</h1>
			<br /><br />
      <div class="d-flex" style="flex-wrap: wrap;">
          {% for member in members %}
          
            <a href="{{member.get_absolute_url}}" style="color: #333333;">
              <div class="card m-3 shadow p-3 mb-5 bg-body" style="width: 14rem;">
                <img src="{{member.image.url}}" style="height: 10rem;" class="card-img-top" alt="...">
                <br>
                <p class="card-text" style="text-align: center;"><b>{{member.name}}</b></p>
                <p class="card-text" style="text-align: center;">{{member.designation}}</p>
              </div>
              

              <!-- <div class="col-lg-3 col-md-6 mb-4" data-aos="zoom-in" style="transform:scale(0.8);">
                <div class="card shadow-sm border-0 rounded">
                  <div class="card-body p-0">
                    <figure>
                      <img
                        src={{member.image.url}}
                        alt=""
                        class="w-100 card-img-top"
                      />
                    </figure>
                  </div>
                  <div class="p-4">
                    <h5 class="mb-0">{{member.name}}</h5>
                    <p class="small text-muted">{{facultydata.department}}</p>
                    <p>{{facultydata.designation}}</p>
                    <ul class="social mb-0 list-inline mt-3">
                      <li class="list-inline-item m-0">
                        <a href="{{member.mail}}" class="social-link"
                          ><i class="fa fa-envelope"></i
                        ></a>
                      </li>
                      <li class="list-inline-item m-0">
                        <a href="#" class="social-link"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->

            </a>
          {% endfor %}
      </div>
		</div>
        <style>
            .card{
                transition:transform 0.5s;
            }
            .card:hover{
                transform: scale(1.1);
            }
        </style>
   <!--------------footer-------------->

		{% include 'iiitdsite/footer.html' %}
		<!-------------footer ends---------->
		<!-- Nav bar js -->
		<script>
			//smooth scroll js

			var scroll = new SmoothScroll('a[href*="#"]');
			var scroll = new SmoothScroll('a[href*="#"]', {
				speed: 9000,
				speedAsDuration: true,
			});
		</script>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

		<script>
			(function ($) {
				"use strict";

				// Off Canvas Open close start
				$(".off-canvas-btn").on("click", function () {
					$("body").addClass("fix");
					$(".off-canvas-wrapper").addClass("open");
				});

				$(".btn-close-off-canvas,.off-canvas-overlay").on("click", function () {
					$("body").removeClass("fix");
					$(".off-canvas-wrapper").removeClass("open");
				});

				// slide effect dropdown
				function dropdownAnimation() {
					$(".dropdown").on("show.bs.dropdown", function (e) {
						$(this)
							.find(".dropdown-menu")
							.first()
							.stop(true, true)
							.slideDown(500);
					});

					$(".dropdown").on("hide.bs.dropdown", function (e) {
						$(this)
							.find(".dropdown-menu")
							.first()
							.stop(true, true)
							.slideUp(500);
					});
				}
				dropdownAnimation();

				//offcanvas mobile menu start
				var $offCanvasNav = $(".mobile-menu"),
					$offCanvasNavSubMenu = $offCanvasNav.find(".dropdown");

				/Add Toggle Button With Off Canvas Sub Menu/;
				$offCanvasNavSubMenu
					.parent()
					.prepend('<span class="menu-expand"><i></i></span>');

				/Close Off Canvas Sub Menu/;
				$offCanvasNavSubMenu.slideUp();

				/Category Sub Menu Toggle/;
				$offCanvasNav.on("click", "li a, li .menu-expand", function (e) {
					var $this = $(this);
					if (
						$this
							.parent()
							.attr("class")
							.match(
								/\b(menu-item-has-children|has-children|has-sub-menu)\b/
							) &&
						($this.attr("href") === "#" || $this.hasClass("menu-expand"))
					) {
						e.preventDefault();
						if ($this.siblings("ul:visible").length) {
							$this.parent("li").removeClass("active");
							$this.siblings("ul").slideUp();
						} else {
							$this.parent("li").addClass("active");
							$this
								.closest("li")
								.siblings("li")
								.removeClass("active")
								.find("li")
								.removeClass("active");
							$this.closest("li").siblings("li").find("ul:visible").slideUp();
							$this.siblings("ul").slideDown();
						}
					}
				});

				// tooltip active js
				$('[data-toggle="tooltip"]').tooltip();
			})(jQuery);
		</script>
		<!--ion icon cdn-->
		<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
		<!-- Nav bar js end-->

		<!-- Search box in top nav -->
		<script>
			//search box js

			$(document).ready(function () {
				$(".search1").each(function () {
					var self = $(this);
					var div = self.children("div");
					var placeholder = div.children("input").attr("placeholder");
					var placeholderArr = placeholder.split(/ +/);
					if (placeholderArr.length) {
						var spans = $("<div />");
						$.each(placeholderArr, function (index, value) {
							spans.append($("<span />").html(value + "&nbsp;"));
						});
						div.append(spans);
					}
					self.click(function () {
						self.addClass("open");
						setTimeout(function () {
							self.find("input").focus();
						}, 750);
					});
					$(document).click(function (e) {
						if (!$(e.target).is(self) && !jQuery.contains(self[0], e.target)) {
							self.removeClass("open");
						}
					});
				});
			});
		</script>
	</body>
</html>
