<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>संकाय</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="icon" type="img/png" sizes="55x55" href="{% static 'iiitdsite/images/iiit-logo-small.png' %}" />
  <!-- Font styles -->
  <!-- Roboto Slab -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet" />

  <!-- Avro -->
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet" />

  <!-- Noto Serif -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'iiitdsite/css/owl.carousel.min.css' %}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'iiitdsite/css/owl.theme.default.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/materialdesignicons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/aos.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/favicon_nav.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/backtotop.css' %}" />
  <link rel="stylesheet" href="{% static 'iiitdsite/css/top_nav-scroll.css' %}" />
  <!-- font awesome CDN -->
  <script src="{% static 'iiitdsite/js/234d915b29.js' %}" crossorigin="anonymous"></script>
  <!-- custom css (Edit change sin this file only (for css). Don't try to modify the other css files.) -->
  <link rel="stylesheet" href="{% static 'iiitdsite/css/faculty.css' %}" />
</head>

<body>
  <!-- Top Nav -->
  <nav class="navbar navbar-expand-sm bg-dark justify-content-center" id="backtonav" style="position: fixed;left: 0;top:0;width: 100%; z-index: 100;">
    <ul class="navbar-nav">
      <div class="container">
        <div class="row">
          <section class="comsearch" style="margin-left: -3%">
            <a href="#"><span style="font-size: 17px; color: #ffffff">PMRF&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">ARIIA&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">RTI&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">IIIT PPP Act&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">AIMS&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">Webmail&nbsp;|&nbsp;
              </span></a>
            <a href="#"><span style="font-size: 17px; color: white">ICC</span></a>
          </section>

          <section class="information-wrapper" id="navScrollBlock" style="margin-top: 21px">
            <div class="information d-none d-xl-block">
              <div>
                <span><a href="{% url 'home' %}" style="color:rgb(255, 205, 131)">English
                  </a></span>
              </div>
              <div>
                <span><a href="{% url 'kannada' %}" style="color:rgb(255, 205, 131)">ಕೆನಡಾ
                  </a></span>
              </div>
              <div>
                <span><a href="{% url 'hindi' %}" style="color:rgb(255, 205, 131)">हिन्दी
                  </a></span>
              </div>
            </div>
          </section>

          <div>
            <div class="search" style="margin-left: -4%; margin-top: 10px">
              <script async src="https://cse.google.com/cse.js?cx=483075f18c137fb12"></script>
              <div class="gcse-search"></div>
            </div>
          </div>
        </div>
        </section>
      </div>
      </div>
      </div>
    </ul>
  </nav>
  <!-- End Top Nav -->

  <!-- Start Header Area -->
  {% include 'iiitdsite/nav_bar(hindi).html' %}
    <script>
      var a = document.querySelector('.desktop-menu').querySelectorAll('li');
      a[29].className='active';
    </script>
  <!-- end Header Area -->

  <!-- off-canvas menu start -->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
      <div class="btn-close-off-canvas">
        <i class="fa fa-times"></i>
      </div>

      <div class="off-canvas-inner">
        <!-- search box start -->
        <div class="search-mobile">
          <script async src="https://cse.google.com/cse.js?cx=483075f18c137fb12"></script>
          <div class="gcse-search"></div>
        </div>
        <!-- search box end -->

        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav>
            <ul class="mobile-menu" style="padding-bottom: 0px; margin-bottom: 0px;">
              <li><a href="{% url 'hindi' %}">Home</a></li>
              <li><a href="{% url 'about-hindi' %}">About</a></li>
              <li class="menu-item-has-children">
                <a href="{% url 'academics-hindi' %}">Academics</a>
                <ul class="dropdown">
                  <li><a href="#">Courses</a></li>
                  <li><a href="{% url 'faculty-hindi' %}">Faculty</a></li>
                  <li><a href="{% url 'research-hindi' %}">Research</a></li>
                  <li class="menu-item-has-children"><a href="">Curriculum</a>
                    <ul class="dropdown">
                      <li><a href="{{currilink.cse_link}}">CSE</a></li>
                      <li><a href={{currilink.cse_link}}>ECE</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item-has-children">
                <a href="{% url 'admissions-hindi' %}">Admissions</a>
                <ul class="dropdown">
                  <li><a href="{% url 'ug-hindi' %}">Undergraduate</a></li>
                  <li><a href="{% url 'phd-hindi' %}">Ph.D</a></li>
                  <li><a href="">Finance+Aid</a></li>
                </ul>
              </li>
              <li><a href="{% url 'campus-hindi' %}">Campus</a></li>
              <li>
                <a href="{% url 'administration-hindi' %}">Administration <i class="fa fa-angle-down"></i
                ></a>
                <ul class="dropdown">
                  
                  <li>
                    <a href="{% url 'bog-hindi' %}"> Board of Governors </a>
                  </li>
                  <li>
                    <a href="{% url 'senate-hindi' %}"> Senate </a>
                  </li>
                  <li>
                    <a href="{% url 'ficommit-hindi' %}"> Financial Committee </a>
                  </li>
                  <li>
                    <a href="{% url 'faculty-hindi' %}"> Faculty </a>
                  </li>
                  <li>
                    <a href="{% url 'staff-hindi' %}"> Staff </a>
                  </li>
                  
                </ul>
              </li>
              <li><a href="{% url 'contact-hindi' %}">Contact us</a></li>
              <li><a href="{% url 'jobs-hindi' %}">Jobs</a></li>
              <li><a href="{% url 'placements' %}">Placements</a></li>
<!-- <li><a href="./aims.html">AIMS</a></li> -->
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->
        <br>
        <br>
        <br>
        <br>
        <!-- offcanvas widget area start -->
        <div class="offcanvas-widget-area">
          <div class="off-canvas-contact-widget">
            <ul>
              <li>
                <i class="fa fa-mobile"></i>
                <a href="#">0123456789</a>
              </li>
              <li>
                <i class="fa fa-envelope-o"></i>
                <a href="#">info@yourdomain.com</a>
              </li>
            </ul>
          </div>
          <div class="off-canvas-social-widget">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
        <!-- offcanvas widget area end -->
      </div>
    </div>
  </aside>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <!-- off-canvas menu end -->

  <br><br>
  <div class="container">
    <div class="row pb-5 mb-4">
      <!-- card -->
      {% for facultydata in facultydatabase %}
      <div class="col-lg-3 col-md-6 mb-4" data-aos="zoom-in">
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0">
            <figure>
              <img src={{facultydata.image.url}} alt="" class="w-100 card-img-top" />
            </figure>
          </div>
          <div class="p-4">
            <h5 class="mb-0">{{facultydata.name_hindi}}</h5>
            <p class="small text-muted">{{facultydata.phd_info_hindi}}</p>
            <p>{{facultydata.teaching_position_hindi}}</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0">
                <a href="{{facultydata.email_id}}" class="social-link"><i class="fa fa-envelope"></i></a>
              </li>
              <li class="list-inline-item m-0">
                <a href="{{facultydata.linkedin_link}}" class="social-link"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!--------------footer-------------->

  {% include 'iiitdsite/footer.html' %}
  <!-------------footer ends---------->
  <!--Back to top-->
  <a id="back-to-top" href="#backtonav" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip"
    data-placement="left">
    <span class="fa fa-arrow-up"></span>
  </a>
  <!-- End -->

  <script src="{% static 'iiitdsite/js/jquery-3.0.0.min.js' %}"></script>
  <script src="{% static 'iiitdsite/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'iiitdsite/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'iiitdsite/js/aos.js' %}"></script>
  <script src="{% static 'iiitdsite/js/landingpage.js' %}"></script>

  <script>
    //back to top js

    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $("#back-to-top").fadeIn();
        } else {
          $("#back-to-top").fadeOut();
        }
      });
      // scroll body to 0px on click
      $("#back-to-top").click(function () {
        $("#back-to-top").tooltip("hide");
        $("body,html").animate(
          {
            scrollTop: 0,
          },
          800
        );
        return false;
      });

      $("#back-to-top").tooltip("show");
    });
  </script>
  <script>
    //search box js

    $(document).ready(function () {
      $(".search1").each(function () {
        var self = $(this);
        var div = self.children("div");
        var placeholder = div.children("input").attr("placeholder");
        var placeholderArr = placeholder.split(/ +/);
        if (placeholderArr.length) {
          var spans = $("<div />");
          $.each(placeholderArr, function (index, value) {
            spans.append($("<span />").html(value + "&nbsp;"));
          });
          div.append(spans);
        }
        self.click(function () {
          self.addClass("open");
          setTimeout(function () {
            self.find("input").focus();
          }, 750);
        });
        $(document).click(function (e) {
          if (!$(e.target).is(self) && !jQuery.contains(self[0], e.target)) {
            self.removeClass("open");
          }
        });
      });
    });
  </script>
  <script>
    //smooth scroll js

    var scroll = new SmoothScroll('a[href*="#"]');
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 300,
      speedAsDuration: true,
    });
  </script>
</body>

</html>