<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<title>Scholarships</title>
		<!-- Required meta tags -->
		<!-- Font styles -->
		<!-- Roboto Slab -->
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap"
			rel="stylesheet"
		/>

		<!-- Avro -->
		<link
			href="https://fonts.googleapis.com/css2?family=Arvo&display=swap"
			rel="stylesheet"
		/>

		<!-- Noto Serif -->
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			type="img/png"
			sizes="55x55"
			href="{% static 'iiitdsite/images/iiit-logo-small.png' %}"
		/>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Playfair+Display:wght@600&display=swap"
			rel="stylesheet"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="{% static 'iiitdsite/css/admission.css' %}" />
		<link rel="stylesheet" href="{% static 'iiitdsite/css/footer.css' %}" />
		<link
			rel="stylesheet"
			href="{% static 'iiitdsite/css/favicon_nav.css' %}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'iiitdsite/css/top_nav-scroll.css' %}"
		/>
	</head>
  <body>
    <!-- Start Header Area -->
    {% include 'iiitdsite/nav_bar.html' %}
    <script>
      var a = document.querySelector('.desktop-menu').querySelectorAll('li');
      a[0].className = 'active';
    </script>
    <!-- end Header Area -->
    <section class="section section-lg">
      <br>
      <h1 class="text-center" style="font-size: 50px"><u>Scholarships</u></h1>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="text-justify col-12 col-lg-12">
            <h6>B.Tech students can apply and avail different Central/State Govt. scholarship schemes. In addition to
              these govt. schemes, a student can also apply for different PSU (Public Sector Unit) scholarships. All
              existing and new students of IIIT Dharwad are advised to go through following spreadsheet.</h6>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="iframe-container"><iframe style="width: 100%; height: 30rem;" title="scholarship"
            src="https://docs.google.com/spreadsheets/d/1Qfs5B0QjI5xErYF3BoJV0jnhNNtdXeye/edit?usp=sharing&ouid=114493113975464995241&rtpof=true&sd=true"></iframe>
        </div>
        </div>
      <h6 class="mt-5"><b><a
        href="https://docs.google.com/spreadsheets/d/1Qfs5B0QjI5xErYF3BoJV0jnhNNtdXeye/edit?usp=sharing&ouid=114493113975464995241&rtpof=true&sd=true"
        target="_blank" rel="noopener noreferrer">Click here for the detailed 
        view</a></b><br><br><b>Note:</b> The provided information is indicative. Eligibility criteria, Value
    of scholarship, selection criteria and other parameters shall be decided by the concerned scholarship
    authority. It is advised to visit their website for updated information.</h6>
        <div class="justify-content-center text mb-5 mt-3 row">
            <h4 class="mb-3 mt-3" style="text-align: center;"><b>For any query contact</b></h4>
          <div class="col-lg-12 mt-5">
            <div class="row-grid justify-content-center row">
              <div class="col-lg-4">
                <div class="card-lift--hover shadow border-0 card">
                  <div class="py-5 card-body">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4 text-primary" style="width: 12%;">
                      <img src="https://cdn-icons-png.flaticon.com/512/1034/1034153.png" alt="">
                    </div>
                    <h6 class="text-primary text-uppercase"><b> Office</b><br></h6>
                    <div class="px-2 pb-2">Ittigatti Road, Near Sattur Colony, Dharwad </div>
                    <h6><a href="mailto:contact@iiitdwd.ac.in"><i
                          class="fa fa-envelope px-2"></i>contact@iiitdwd.ac.in</a></h6>
                    <h6><a href="tel:9449732959"><i class="fas fa-phone-square-alt px-2"></i>9449732959</a></h6>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-4">
                <div class="card-lift--hover shadow border-0 card">
                  <div class="py-5 card-body">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4"><a
                        href="https://iiitkota.ac.in/faculty/608525427fb8f4001564e185"><i
                          class="fas fa-address-card"></i></a></div>
                    <h6 class="text-uppercase"><a
                        href="https://iiitkota.ac.in/faculty/608525427fb8f4001564e185"><b>Dr. Amit Kumar</b> </a><br>
                    </h6>
                    <div class="px-2 pb-2">Nodel Officer, Scholarship</div>
                    <h6><a href="mailto:amit@iiitkota.ac.in"><i
                          class="fa fa-envelope px-2"></i>amit@iiitkota.ac.in</a></h6>
                    <h6><a href="tel:0141-2715075"><i class="fas fa-phone-square-alt px-2"></i>0141-2715075</a></h6>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>












    <!--------------footer-------------->

    {% include 'iiitdsite/footer.html' %}

    <!-------------footer ends---------->
    <!-- Nav bar js -->
    <script>
      //smooth scroll js

      var scroll = new SmoothScroll('a[href*="#"]');
      var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 9000,
        speedAsDuration: true,
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
      (function ($) {
        "use strict";

        // Off Canvas Open close start
        $(".off-canvas-btn").on("click", function () {
          $("body").addClass("fix");
          $(".off-canvas-wrapper").addClass("open");
        });

        $(".btn-close-off-canvas,.off-canvas-overlay").on("click", function () {
          $("body").removeClass("fix");
          $(".off-canvas-wrapper").removeClass("open");
        });

        // slide effect dropdown
        function dropdownAnimation() {
          $(".dropdown").on("show.bs.dropdown", function (e) {
            $(this)
              .find(".dropdown-menu")
              .first()
              .stop(true, true)
              .slideDown(500);
          });

          $(".dropdown").on("hide.bs.dropdown", function (e) {
            $(this)
              .find(".dropdown-menu")
              .first()
              .stop(true, true)
              .slideUp(500);
          });
        }
        dropdownAnimation();

        //offcanvas mobile menu start
        var $offCanvasNav = $(".mobile-menu"),
          $offCanvasNavSubMenu = $offCanvasNav.find(".dropdown");

        /Add Toggle Button With Off Canvas Sub Menu/;
        $offCanvasNavSubMenu
          .parent()
          .prepend('<span class="menu-expand"><i></i></span>');

        /Close Off Canvas Sub Menu/;
        $offCanvasNavSubMenu.slideUp();

        /Category Sub Menu Toggle/;
        $offCanvasNav.on("click", "li a, li .menu-expand", function (e) {
          var $this = $(this);
          if (
            $this
              .parent()
              .attr("class")
              .match(
                /\b(menu-item-has-children|has-children|has-sub-menu)\b/
              ) &&
            ($this.attr("href") === "#" || $this.hasClass("menu-expand"))
          ) {
            e.preventDefault();
            if ($this.siblings("ul:visible").length) {
              $this.parent("li").removeClass("active");
              $this.siblings("ul").slideUp();
            } else {
              $this.parent("li").addClass("active");
              $this
                .closest("li")
                .siblings("li")
                .removeClass("active")
                .find("li")
                .removeClass("active");
              $this.closest("li").siblings("li").find("ul:visible").slideUp();
              $this.siblings("ul").slideDown();
            }
          }
        });

        // tooltip active js
        $('[data-toggle="tooltip"]').tooltip();
      })(jQuery);
    </script>
    <!--ion icon cdn-->
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <!-- Nav bar js end-->

    <!-- Search box in top nav -->
    <script>
      //search box js

      $(document).ready(function () {
        $(".search1").each(function () {
          var self = $(this);
          var div = self.children("div");
          var placeholder = div.children("input").attr("placeholder");
          var placeholderArr = placeholder.split(/ +/);
          if (placeholderArr.length) {
            var spans = $("<div />");
            $.each(placeholderArr, function (index, value) {
              spans.append($("<span />").html(value + "&nbsp;"));
            });
            div.append(spans);
          }
          self.click(function () {
            self.addClass("open");
            setTimeout(function () {
              self.find("input").focus();
            }, 750);
          });
          $(document).click(function (e) {
            if (!$(e.target).is(self) && !jQuery.contains(self[0], e.target)) {
              self.removeClass("open");
            }
          });
        });
      });
    </script>

</body>

</html>